body {
    background-color: steelblue;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: verdana;
}

h1 {
    color: darkred;
}

p {
    text-indent: 50px;
    line-height: 2;
    margin-right: 25%;
    margin-left: 25%;
    *text-align: center;
}

.hanging{
    padding: 10px;
    padding-left: 64px;
    text-indent: -60px;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 2;

}
